---
import Hero from "../components/Hero.astro"
import Card from "../components/Card.astro"
import AboutMe from "../components/AboutMe.astro"
import BaseLayout from '../layout/BaseLayout.astro'
const projects = [
	{
		title: 'Country App',
		url: '../../public/assets/images/country-app.jpg'
	},
	{
		title: 'Weather App',
		url: '../../public/assets/images/weather-app.jpg'
	}
]
---
<style>
	.title__section {
		font-family: 'inter';
		font-weight: 800;
		margin-top: 0;
		margin-bottom: 4rem;
		text-align: center;
	}
	.projects {
		padding: var(--padding-container-tb) var(--padding-container);
	}
	.projects__container {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	@media (min-width: 700px) {
		.projects__container {
			flex-direction: row;
		}
	}
	.technologies {
		padding: 45px 16px;
		position: relative;
		background-color: #202225;
	}
	.technologies__container {
		max-width: 500px;
		margin: 0 auto;
	}
	.technologies::after {
		content: '';
		display: block;
		width: 70%;
		max-width: 945px ;
		height: 1px;
		position: absolute;
		left: 15%;
		bottom: 0;
		background-color: #ffffff;
	}
	.technologies__container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
		gap: 10px 0;
	}
	@media (min-width: 1024px) {
		.technologies__container {
			max-width: 750px;
			display: flex;
			justify-content: space-between;
		}
		.technologies__image {
			width: 100px;
		}
	}
	@media (min-width: 1300px) {
		.technologies__container {
			max-width: 750px;
		}
	}
</style>
<BaseLayout>
	<Hero />
	<AboutMe />
	<section class="projects">
		<h2 class="title__section isHidden" data-effect="fadeIn">PROYECTOS</h2>
		<ul class="projects__container">
			{
				projects.map( project => (
					<li class="isHidden" data-effect="fadeIn">
						<Card title={ project.title } url={ project.url } />
					</li>
				))
			}
		</ul>
	</section>
	<section class="technologies">
		<ul class="technologies__container isHidden" data-effect="fadeIn">
			<li><img class="technologies__image" src="/public/assets/icon/icon-html.svg" alt=""></li>
			<li><img class="technologies__image" src="/public/assets/icon/icon-css.svg" alt=""></li>
			<li><img class="technologies__image" src="/public/assets/icon/icon-js.svg" alt=""></li>
			<li><img class="technologies__image" src="/public/assets/icon/icon-react.svg" alt=""></li>
			<li><img class="technologies__image" src="/public/assets/icon/icon-git.svg" alt=""></li>
			<li><img class="technologies__image" src="/public/assets/icon/icon-figma.svg" alt=""></li>
		</ul>
	</section>
</BaseLayout>
<script>
	let elements = document.querySelectorAll('[data-effect="fadeIn"]')

	const observer = new IntersectionObserver((entries) => {

		entries.forEach((entry: any) => {
			if(entry.isIntersecting) {
				entry.target.classList.add("fadeInUp")
				entry.target.classList.remove('isHidden')
				observer.unobserve(entry.target);
			} 
		})

	})

	elements.forEach(element => observer.observe(element))

</script>




