---
import Alan from '../../public/Alan.jpg'
import github from '../../public/assets/icon/icon-github.svg'
import email from '../../public/assets/icon/icon-email.svg'
import linkedin from '../../public/assets/icon/icon-linkedin.svg'
import Card from "../components/Card.astro"
import BaseLayout from '../layout/BaseLayout.astro'
const projects = [
	{
		title: 'Country App',
		url: '../../public/assets/images/country-app.jpg'
	},
	{
		title: 'Weather App',
		url: '../../public/assets/images/weather-app.jpg'
	}
]
---
<style>
	.hero {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-height: 270px;
		padding: 0 var(--padding-container);
	}
	.hero__welcome h1 {
		margin-bottom: 16px;
	}
	.hero__font--light {
		font-family: 'mulish';
		font-weight: 600;
		font-size: 20px;
	}
	.hero__font--bold {
		display: block;
		font-family: 'mulish';
		font-weight: 700;
		font-size: 24px;
	}
	.hero__foto {
		display: none;
	}
	.socials__container {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 18px;
	}
	@media (min-width: 700px) {
		.hero {
			padding-top: var(--padding-container-tb);
			padding-bottom: var(--padding-container-tb);
		}
		.hero__foto {
			display: block;
		}
		.hero {
			justify-content: space-between;
		}
		.hero__welcome {
			flex-grow: 1;
			flex-basis: 0;
			text-align: left;
		}
		.hero__font--light {
			font-size: 24px;
		}
		.hero__font--bold {
			font-size: 28px;
		}
		.socials__container li a img {
			width: 30px;
		}
		.hero__foto {
			flex-grow: 1;
			flex-basis: 0;
		}
		.foto__container img {
			width: 70%;
			margin: 0 auto;
			border-radius: 50%;
		}
		.socials__container {
			justify-content: flex-start;
		}
	}
	.about-me {
		background-color: #202225;
		color: #ffffff;
		padding: var(--padding-container-tb) var(--padding-container);
		text-align: center;
	}
	.about-me__introduction {
		width: 80%;
		margin: 0 auto;
	}
	.title__section {
		font-family: 'inter';
		font-weight: 800;
		margin-top: 0;
		margin-bottom: 4rem;
		text-align: center;
	}
	.projects {
		padding: var(--padding-container-tb) var(--padding-container);
	}
	.projects__container {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	@media (min-width: 700px) {
		.projects__container {
			flex-direction: row;
		}
	}
	.technologies {
		padding: 45px 16px;
		position: relative;
		background-color: #202225;
	}
	.technologies__container {
		max-width: 500px;
		margin: 0 auto;
	}
	.technologies::after {
		content: '';
		display: block;
		width: 70%;
		max-width: 945px ;
		height: 1px;
		position: absolute;
		left: 15%;
		bottom: 0;
		background-color: #ffffff;
	}
	.technologies__container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
		gap: 10px 0;
	}
</style>
<BaseLayout>
	<section class="hero">
		<div class="hero__welcome">
			<span class="hero__font--light">¡Hey! 👋🏾</span>
			<h1 class="">
				<span class="hero__font--light">
					Soy Alan Luna,
				</span>
				<span class="hero__font--bold">
					Desarrollador Frontend
				</span>
			</h1>
			<ul class="socials__container">
				<li><a href=""><img src={ github } alt=""></a></li>
				<li><a href=""><img src={ email } alt=""></a></li>
				<li><a href=""><img src={ linkedin } alt=""></a></li>
			</ul>
		</div>
		<div class="hero__foto">
			<div class="foto__container">
				<img src={ Alan } alt="Foto de Alan Luna">
			</div>
		</div>
	</section>
	<section class="about-me">
		<h2 class="title__section">SOBRE MI</h2>
		<div class="about-me__introduction">
			<p>Desarrollador frontend, apasionado por las tecnologias, que le gusta crear páginas web y aplicaciones visualmente atractivas y fáciles de usar.</p>
			<p>Como desarrollador frontend estoy especializado en mejorar el rendimiento de las paginas web o aplicaciones, la experiencia de usuario y la accesibilidad de las mismas.</p>
			<p>Gracias por tomar el tiempo de leeme. Si tienes alguna pregunta  o te gustaria discutir sobre alguna potencial proyecto, sientete libre de contactarme.</p>
		</div>
	</section>
	<section class="projects">
		<h2 class="title__section">PROYECTOS</h2>
		<ul class="projects__container">
			{
				projects.map( project => (
					<li>
						<Card title={ project.title } url={ project.url } />
					</li>
				))
			}
		</ul>
	</section>
	<section class="technologies">
		<ul class="technologies__container">
			<li><img src="/public/assets/icon/icon-html.svg" alt=""></li>
			<li><img src="/public/assets/icon/icon-css.svg" alt=""></li>
			<li><img src="/public/assets/icon/icon-js.svg" alt=""></li>
			<li><img src="/public/assets/icon/icon-react.svg" alt=""></li>
			<li><img src="/public/assets/icon/icon-git.svg" alt=""></li>
			<li><img src="/public/assets/icon/icon-figma.svg" alt=""></li>
		</ul>
	</section>
</BaseLayout>




