---

---
<style>
    .footer {
        background-color: #202225;
        padding: 35px 16px;
        color: #ffffff;
    }
    .socials__container {
        display: flex;
        justify-content: center;
        gap: 18px;
        margin-bottom: 8px;
    }
    .footer__copy-right {
        margin: 0;
        text-align: center;
    }
</style>
<footer class="footer">
    <ul class="socials__container">
        <li>
            <a href=""><img src="/public/assets/icon/icon-github-white.svg" alt=""></a>
        </li>
        <li>
            <a href=""><img src="/public/assets/icon/icon-linkedin-white.svg" alt=""></a>
        </li>
        <li>
            <a href=""><img src="/public/assets/icon/icon-email-white.svg" alt=""></a>
        </li>
        <li>
            <a href=""><img src="/public/assets/icon/icon-twitter-white.svg" alt=""></a>
        </li>
    </ul>
    <div class="">
        <p class="footer__copy-right">&#169; 2023 Copyright | Alan Luna</p>
    </div>
</footer>